/*CSS ΥΠΕΥΘΥΝΟ ΓΙΑ ΤΩΝ ΠΡΟΣΑΝΑΤΟΛΙΣΜΟ ΤΩΝ ΠΕΔΙΩΝ ΤΩΝ ΔΙΑΣΤΑΣΕΩΝ ΣΕ ΣΧΕΣΗ ΜΕ ΤΙΣ ΕΙΚΟΝΕΣ*/



.details-container{
	position: relative;
	text-align: center;
	display: flex;
	/* margin: auto; */
	margin: 0 10% 0 10%;
	background-color: aquamarine;
	}
	
.details-dimensions{
	width: 25%;
	margin-top: 5%;
	margin-bottom: 5%;
}

.details-image{
	width: 50%;
	text-align: center;
	background-color:white;
	
}
.builder-container{
	
	position: relative;
	text-align: center;
	display: inline-flex;
	
	}
.input-container{
	display: flex;
	vertical-align: middle;
	margin-left: auto;
	margin-right: 5%;
	width: 70%;
	background-color: yellow;
}		
.builder-container img {
	display: block;
	margin-left: auto;
	margin-right: 5%;
	width: 70%;
}
.builder-right {
	margin-top: 15%;
	/*margin-top: 20%;*/
	background-color: rgb(247, 247, 243);
}
.builder-right input {
	width: 40%;
	display: flex;
	margin-bottom: 20%;
}
.details-extras .block{
	text-align: center;
	width: 70%;
}

.details-extras{
	width: 25%;
	margin-top: 5%;
	margin-bottom: 5%;
	
}
.details-text{
	text-align: center;
}
.details-text textarea {
	background-color:gainsboro;
	font: 20px;
    font-weight: bold;
    }
.input-container input {
	width: 70%;
	display: flex;
	margin-left: 15%;
    margin-right: 15%;	
}

.input-container-left{
	display: flex;
	vertical-align: left;
	margin-left: 10%;
    margin-right: 5%;
    width: 70%;
}	
.input-container-left input {
	width: 70%;
	display: flex;
	margin-left: 15%;
    margin-right: 15%;	
}

.input-container-right{
	display: flex;
	vertical-align: right;
	margin-left: auto;
    margin-right: 0%;
    width: 70%;
}	
.input-container-right input {
	width: 70%;
	display: flex;
	margin-left: 15%;
    margin-right: 15%;	
}
/*CSS ΥΠΕΥΘΥΝΟ ΓΙΑ ΤΟΝ HTML ΚΩΔΙΚΑ ΠΟΥ ΕΜΦΑΝΙΖΕΙ ΕΙΚΟΝΑ ΤΗΣ ΚΑΤΑΣΚΕΥΗΣ ΚΑΙ ΤΩΝ ΔΙΑΣΤΑΣΕΩΝ ΣΤΟΝ ΠΙΝΑΚΑ*/
.table-cell{
	text-align: center;
	margin: 5%;
	padding-right: 15%;
}
.table-container{
	position: relative;
	text-align: center;
	display: flex;
	padding-left: 1%;
	padding-right: 2%;
}
.table-dim-top{
	display: flex;
	vertical-align: middle;
	margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
}
.table-dim-top div{
	/* width: 30%; */
	display: flex;
	margin-left: auto;
    margin-right: auto;	
   
    display: block;
}
.table-dim-top span{
	/*border: 1px solid black;*/
	font-size: 14;
	background-color: yellow;

}
.table-dim-right {

	margin-top: 5%;
	/*margin-top: 20%;*/

}
.table-dim-right span{
	display: block;
	margin-top: 5%;
	margin-bottom: 40%;
	background-color: yellow;

}